<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
    <link rel="stylesheet" href="../static/styles/testo.css">
    <script src="https://kit.fontawesome.com/4c942c5e71.js" crossorigin="anonymous"></script>

    
  </head>

  <body>

   <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}">Student Progress Pro</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('quiz')}}">Questions</a>
                </li>
                <!-- <li class="nav-item">
                <a class="nav-link" href="{{url_for('tips')}}">Tips n Tricks</a>
                </li> -->
                <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{url_for('testo1')}}">Testomonials</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{{url_for('aboutUs')}}">About Us</a>
                </li>
           </ul>
          </div>
      </div>
   </nav>
   <div>   

    <table>
        <h4>{{lenArr}}</h4>
        
        {% for row in data %}
        <tr>
          <td style="padding:10px;">{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          
          <td>
            <div class="reviews">
                {% for star in range(row[2]|int) %}

                <i class="fa-solid fa-star" class="star"></i>
                {%endfor%}

                {% for star in range(5 - (row[2]|int)) %}

                <i class="fa-sharp fa-regular fa-star fa-horizontal-rule"></i>
                {%endfor%}

            </div>

          </td>
        </tr>
        {% endfor %}
      </table>
   </div>
   <div class="feedbackRate">
        <p id="rateHeading">Rate the website experience</p>
        <div class="starRating" >
            <button class="star">&#9734;</button>
            <button class="star">&#9734;</button>
            <button class="star">&#9734;</button>
            <button class="star">&#9734;</button>
            <button class="star">&#9734;</button>
        </div>
        <p id="currentRate">0 of 5</p>
    </div>
    <div>
        <form action="/testo11" method="POST">
            <!-- <input type="text" name = "user1" placeholder="Enter username"></input> -->
  
            <input type="text" name = "feedback" placeholder="Enter your feedback here"></input>

            <input type="hidden" id="rating" name="rating" readonly>
  
            <input id = "submit" type = submit>
        </form>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- .js linked -->
    <script src = "static/script/testo.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>