<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/tips.css">


    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
            <a class="navbar-brand" href="homePage.php">Student Progress Pro</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('quiz')}}">Questions</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{url_for('tips')}}">Tips n Tricks</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="testo1.php">Testomonials</a>
                        </li>
                        
                            
                        </ul>
                </div>
            </div>
        </nav>
        <!-- <div class = "heading">
            <h1>Tips & Tricks</h1>
        </div> -->
        <div class ="container">
            <ul>   
            <div id="itext0" class = "text1">
                <!-- <div class = "tipNo"> <span>1</span></div> -->
                <li id="tipLine1"></li>
                
            </div>

            <div id="itext1" class = "text2">
                <!-- <div class = "tipNo"> <span>2</span></div> --> 
                <li id="tipLine2"></li>
            </div>

            <div id="itext2" class = "text3">
                <!-- <div class = "tipNo"> <span>3</span></div> -->
                <li id="tipLine3"></li>
            </div>

            <div id="itext3" class = "text4">
                <!-- <div class = "tipNo"> <span>4</span></div> -->
                <li id="tipLine4"></li>
            </div>

            <div id="itext4" class = "text5">
                <!-- <div class = "tipNo"> <span>5</span></div> -->
                <li id="tipLine5"></li>
            </div>

        
            </ul>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="../static/script/tips.js"></script>
</body>
</html>