
.nav-link{
    margin-right: 45px;
    margin-left: 50px;
    color: #7B8FA1;
    font-weight: 500;
    /* font-size: 15px; */
    /* position: absolute; */
    /* right: 20%; */

}
.nav-link:hover{
    color: #4B56D2;
}

.navbar-brand{
    color: black;
    font-weight: bold;
    /* font-family:system-ui, -apple-system, BlinkMac SystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
*{
    /* background: url(./images/image9.jpeg)no-repeat; */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    position: relative;
    background: url(./image9.jpeg)no-repeat;
    /* position: relative; */
    min-width:100%;
    min-height: 100vh;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    margin:auto;
}


/* .heading
{
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
    font-size: 1.5em;
    font-weight: 700;
    cursor: default;
    color: blue;
    position: relative;
    left: 20%; 
} */

li
{
    list-style: none;
}

.container .text
{
    display: flex;
    width:  500px;
    height: auto;
    border-radius: 2rem;
    cursor: default;
    padding: 20px;
    margin: 18px;
    margin-top: 20px;
    background-color: rgba(240,248,255);
    color: black;
    /* color: white; */
    font-size: 1.3rem;
    align-items: center;
    transition: 0.5s;
    font-weight: 500;
    position: relative;
    left: 70%;
}

.text:hover
{
    box-shadow: 0 0 20px #1ea1c5;
    transition: 0.8s;
}

@media(max-width:768px)
{

    .container
    {
        padding: 20px;
       
    }
    .container .text{
        width: 100%;
    }
}

@media(max-width:480px)
{

    .container
    {
        padding: 20px;
    }

    .container .text{
        width: 100%;
    }
}

@media(max-width:380px)
{
    .container
    {

        padding: 20px;
        
    }

    .container .text{
        width: 100%;
    }
}

.container .tipNo
{
    position: relative;
    min-width: 40px;
    min-height: 40px;
    /* background-color: rgb(43, 147, 238); */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 20px;
}




/* footer */


footer{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.containerF{
    max-width: 100%;
    padding-left: 24%;
    
}

.rowF{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.rowF ul{
    list-style: none;
    padding: 10px;
}

.footer{
    background-color: white;
}

.footer-col{
    width: 20%;
}

.footer-col h4{
    font-size: 24px;
    color: black;
    position: relative;
    font-size: 15px;
    left: 3%;
    padding-top: 4x;
}


.footer-col ul li{
    margin-bottom: 10px;

}

.footer-col ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    color: black;
    display: block;
    transition: all 300ms ease;
    font-size: 10px;

}

.footer-col ul li a:hover{
    color: #4B56D2;
    padding-left: 5px;
}

.footer-col img{
    border-radius: 50%;
}

/*responsive*/
@media(max-width: 970px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}

/* footer */


footer{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.containerF{
    max-width: 100%;
    padding-left: 24%;
    
}

.rowF{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.rowF ul{
    list-style: none;
    padding: 10px;
}

.footer{
    background-color: white;
}

.footer-col{
    width: 20%;
}

.footer-col h4{
    font-size: 24px;
    color: black;
    position: relative;
    font-size: 15px;
    left: 3%;
    padding-top: 4x;
}


.footer-col ul li{
    margin-bottom: 10px;

}

.footer-col ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    color: black;
    display: block;
    transition: all 300ms ease;
    font-size: 10px;

}

.footer-col ul li a:hover{
    color: #4B56D2;
    padding-left: 5px;
}

.footer-col img{
    border-radius: 50%;
}

/*responsive*/
@media(max-width: 970px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}