<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!--Swiper -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Testimonials</title>
    <link rel="stylesheet" href="static/testo.css">
    <script src="https://kit.fontawesome.com/4c942c5e71.js" crossorigin="anonymous"></script>

    
  </head>

  <body>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
        <a class="navbar-brand" href="homePage.php">Student Progress Pro</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link" href="quiz.php">Questions</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="tips.php">Tips n Tricks</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="testo1.php">Testomonials</a>
                        </li>


                    </ul>
            </div>
        </div>
    </nav>

    <!--Testimonials-------------------------->
   <section id="testimonials">

       <!--Printing out the flash message -->
          {% with message = get_flashed_messages() %}
          {% if message %}
          {% for message in message %}

          <!--Bootstrap the success message-->
          <div class = "alert alert-success alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
          </div>

          {%endfor%}
          {%endif%}
          {%endwith%}

       <div class="swiper Swipe">
           <div class="swiper-wrapper">
               <!--Looping to get the row from the database table to display-->
               {% for row in testimonials %}
               <div class="swiper-slide">
                   <div class="testimonial-box">
                               <div class="quote-img">
                                   <img src="static/images/right-quote.png"/>
                               </div>
                       <div class = "feedbackReviews">
                               <div class="name-user">
                                   <!--Displaying row 1 and 2, Full name -->
                                   <strong>{{ row.1 }} {{ row.2}}</strong>
                                   <!--Displaying row 4, Date -->
                                   <span>{{row.5}}</span>
                               </div>


                           <!-- Loop to print the number of stars given as feedback -->
                           {% for star in range(row.4) %}
                           <div class="reviews">
                               <i class="fa-solid fa-star"></i>
                           </div>
                           {%endfor%}

                           {% for star in range(5 - row.4) %}
                           <div class="reviews">
                               <i class="fa-sharp fa-regular fa-star"></i>
                           </div>
                           {%endfor%}

                       <div class="client-comments">
                           <!--Displaying row 3, Feedback -->
                           <p>{{row.3}}</p>
                       </div>
                       </div>
                   </div>

               </div>
               {% endfor %}
           </div>
           <div class="swiper-pagination"></div>
       </div>


       <!-- Displaying stars -->
       <div class="feedbackRate">
           <p id="rateHeading">Rate the website experience</p>
           <div class="starRating" >
               <button class="star">&#9734;</button>
               <button class="star">&#9734;</button>
               <button class="star">&#9734;</button>
               <button class="star">&#9734;</button>
               <button class="star">&#9734;</button>
           </div>
           <p id="currentRate">0 of 5</p>
       </div>

       <!--Getting the feedback from user -->
          <div class = "feedbackInfo">

              <form action="{{url_for('insert')}}" class = "form" method="POST">
                  <label for="fName">Firstname:</label>
                  <input type = "text" id = "fName" name = "fName" placeholder="Enter your firstname here">

                  <label for="sName">Surname:</label>
                  <input type="text" id="sName" name="sName" placeholder="Enter your surname here">

                  <input type="hidden" id="rating" name="rating" readonly>

                  <textarea id = "feedback" name = "feedback" placeholder="Enter your feedback here"></textarea>

                  <input id = "submit" type = submit>
              </form>
          </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- .js linked -->
    <script src = "static/testo.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  </body>
</html>